:root {
  --primary-color: #007acc;
  --secondary-color: #3e3e42;
  --tertiary-color: #f4f4f4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

h1 {
  color: var(--primary-color);
}

h2 {
  color: var(--tertiary-color);
  font-weight: 1px;
}

ol {
  color: var(--tertiary-color);
  margin: 2em;
  font-size: smaller;
}

body {
  /* font-family: 'Inter', sans-serif; */
  font-family: Tahoma, Verdana, sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #252526;
}

img {
  width: 90%;
  margin: auto;
  display: block;
}

.container {
  margin: 1em;
  padding: 5em;
  padding-top: 1em;
  justify-content: center;
  align-items: center;
  /* background-color: lightskyblue; */
}

.wrapper, .ps-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.left-header {
  grid-column: 1/3;
}

.left-header h1 {
  font-size: 5rem;
  line-height: 1.3em;
}

.left-header h2, .obj h2 {
  color: var(--tertiary-color);
  font-weight: lighter;
  font-size: 1.5em;
}

.line{
  width: 100%;
  /* height: 10em; */
  border-bottom: 2px solid var(--tertiary-color);
  margin: 3em 0;
  }

.ps, .obj, .ml {
    margin: 1em;
}

.ps-content {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 1em;
    grid-gap: 2em;
    color: var(--tertiary-color);
  }

  .ps-content h3 {
    font-weight: lighter;
    margin-bottom: 0.3em;
  }

  .ps-content h2 {
    font-size: 2em;
  }

  .content1, .content2, .content3, .content4 {
    grid-column: 1fr;
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-weight: lighter;
    font-size: medium;
    padding: 2em;
    border-radius: 20px;
  }

  .content4 {
    margin: 1em;
  }
  .content4 h3 {
    font-weight: lighter;
    margin-bottom: 2em;
  }

  #vis-container {
    color: var(--tertiary-color);
    width: 100%;
    /* background-color: blueviolet; */
  }

  select {
    display: block;
  } 

  .bar {
    fill: var(--tertiary-color);
    /* opacity: 0.8; */
    margin: 1em;
  }

  .axis path, .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
  }

  /* Tab Content */
  .tab-content {
    padding: 3rem 0;
    color: var(--tertiary-color);
  }

  /* Hide initial content */
  #tab-2-content,
  #tab-3-content {
    display: none;
    opacity: 0;
  }

  .show {
    display: block !important;
    opacity: 1 !important;
    transition: all 1000 ease-in;
  }

  #tab-2-content .tab-2-content-top {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1em;
    /* background-color: burlywood; */
  }
  
  #tab-2-content .tab-2-content-bottom {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    text-align: center;
  }

  /* Text Styles */
  .text-xl {
    font-size: 2rem;
  }

  .text-lg {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .text-md {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }

  .text-dark {
    color: #999;
    margin: 1em;
    text-align: center;
  }








